* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  padding: 0 !important;
  margin: 0 !important;
  /* visibility: hidden; */
  transform: scale(0);
  height: 0;
}


body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 3.2em 4.8em;
  scrollbar-width: thin;
  /* 3px wide */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
  /* Thumb color, Track color */
}

/* MAIN LAYOUT */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 15.625em 1fr;
  gap: 3.2em;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

.logo img {
  width: 4.25em;
  height: 4.25em;
}

h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 0.375em;
}

.category {
  margin-bottom: 1em;
}

.fact {
  font-size: 1.25em;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 1em;
  padding: 1.2em 1.8em;
  letter-spacing: -0.0625em;
  border-radius: 1em;

  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.75em;
  }

  .fact-form {
    flex-wrap: wrap;
  }

  .fact-form input:first-child {
    width: 90%;
  }

  .fact-form input.source {
    width: 45%;
  }


  .vote-buttons {
    margin-left: auto;
  }
}

.tag {
  text-transform: uppercase;
  line-height: 100%;
  font-size: 0.8em;
  font-family: "Coiny", sans-serif;
  padding: 0.3em 0.625em 0.2em 0.625em;
  /* 3px 10px 2px */
  border-radius: 1em;
  margin-left: auto;

}

.vote-buttons {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.vote-buttons p {
  border: none;
  background-color: #78716c;
  font-size: 0.8em;
  line-height: normal;
  padding: 0.2em 0.5em 0.3em 0.5em;
  /* 2px 5px 3px */
  border-radius: 1em;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.vote-buttons label p:hover {
  background-color: #292524;
}

.vote-buttons input[type="checkbox"]:checked + p {
  border: 2px solid #ffffff;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 0.75em;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: normal;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 0.5em 0 0.3em;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 1.25em;
  padding: 0.5em 2em 0.3em;
}

.btn-all-categories {
  margin-bottom: 1em;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
.fact-form {
  background-color: #44403c;
  margin-bottom: 2.5em;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  gap: 1.6em;
  border-radius: 1.6em;
  transform-origin: top left;
  transition: transform 0.2s, height 1s;
}

.fact-form input,
.fact-form select {
  /* width: 2.75em; */
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 1em;
  font-size: 1.2em;
  color: inherit;
  font-family: inherit;

  &:focus {
    outline: 0.125em solid #3b82f6;
  }
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 0.7em;
}

@media (max-width: 1025px) {
  body {
    padding: 2em 3.2em;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
    padding: 2em;

  }

  form.fact-form input,
  form.fact-form select {
    width: 100% !important;
  }
}

/* Mobile screen */

@media (max-width: 600px) {
  body {
    padding: 1.5em 2.5em;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    margin-bottom: 1.5em;
  }

  .logo h1 {
    text-align: center;
  }

  .main {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .fact {
    padding: 0.8em 1.4em;
    /* align-items: center; */
    gap: 1.6em;
  }

  .fact p {
    font-size: 1em;
  }

  .fact-form {
    padding: 1.5em;
  }

  .fact-form input,
  .fact-form select {
    padding: 1.2em;
    font-size: 1em;
  }

  .fact-form span {
    text-align: center;
    font-size: 1em;
  }

  .btn {
    font-size: 1em;
    padding: 1.2em 0 1em;
  }

  .fact .tag {
    font-size: 0.8em;
    padding: 0.2em 0.5em 0.4em 0.5em;
  }

  .vote-buttons {
    font-size: 1.3em;
    padding: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn-large {
    font-size: 1.125em;
    padding: 1em 2.4em 1em;
  }
}

/* Screen under 375px */

@media (max-width: 376px) {
  body {
    padding: 1em 2em;
  }

  .logo h1 {
    font-size: 1.8em;
  }

  .fact {
    padding: 0.6em 1.2em;
    gap: 1.2em;
  }

  .fact p {
    font-size: 0.9em;
  }

  .fact .tag {
    font-size: 0.7em;
  }

  .fact-form {
    padding: 1em;
  }

  .fact-form input,
  .fact-form select {
    padding: 1em;
    font-size: 0.9em;
  }

  .fact-form span {
    font-size: 0.9em;
  }

  .btn {
    font-size: 0.9em;
    padding: 1.2em 0.8em 1.4em 0.8em;
  }

  .fact .tag {
    font-size: 0.7em;
    padding-top: 0.125em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .vote-buttons p {
    font-size: 0.7em;
    padding: 0.3em 0.5em;
  }

  .btn-large {
    font-size: 1em;
    line-height: 100%;
    padding: 0.8em 2em 0.9em 0.8em;
  }
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  /* 10% opacity for track */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  /* 50% opacity for thumb */
  border-radius: 10px;
  /* Optional: round the corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
  /* Darker thumb on hover */
}
